body{
    background-color: #f4f4f4;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}
.header{
    justify-content: space-between;
    display:flex;
    background-color: #2e8b57;
    color: white;
    padding:1rem 2rem;
}
.nav a {
    color: white;
    margin-right: 20px;
    align-content: right;
}
.nav a:hover{
    border-bottom: 2px solid white;
}
.contanier{
    display:grid;
    padding: 2rem;
    margin:20px ;
}
.hover
{
    padding:2rem;
    background: white;
    color:black;
    border-radius: 10px;
}
.features{
    display:flex;
    padding: 2rem;
    gap: 40px;
}
.cards{
    padding-bottom: 2rem;
    border-radius: 10px;
    color:black;
    background-color:white ;
    flex:1;
}
.form-section{
    background-color: white;
    padding:2rem;
}
.form label,fieldset{
    background-color: white;
    padding: 1rem;
    display: block;
    border-color: #f4f4f4;
}

input, select, textarea {
  width: 100%;
  padding: 0.6rem;
  margin-top: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit-btn:hover
{
    background-color: aliceblue;
}
.footer{
    padding:1rem;
    text-align: center;
    
}